{
        debug
        grace_period 5s
        order nodejs first
}

http://localhost:8080 {
		route {
        nodejs {
                app C:\Users\mohabdi\go\src\github.com\maxali\nodejs-caddy
                entrypoint node
                command server.js
                port 0
        }
		}
}

http://localhost:8081 {
		route {
        nodejs {
                app C:\Users\mohabdi\go\src\github.com\maxali\nodejs-caddy
                entrypoint node
                command server.js
                port 9001
        }
		}
}